<h1><%= post.title %></h1>

<p><%= post.content %></p>

<%= link_to 'Back', posts_path %>

<% if policy(post).update? %>
  <td><%= link_to 'Edit', edit_post_path(post) %></td>
<% end %>
<% if policy(post).update? %>
  <td><%= link_to 'Destroy', post, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
<% end %>
